{{~#if name}}{{> name }}{{/if~}}
<div {{#if id}}id="{{id}}" {{/if}}class="items-holder border-exagerate container-fluid pt-lg-1 mvh-100">
  <div class="row m-0 pt-2">
    {{#each status}}
  	<div class="px-1 px-xl-2 py-1 py-xl-2{{#if size}} {{size}}{{else}}{{#if ../sizes}} {{#each ../sizes}}{{#is @index "!=" 0}} {{/is}}col-{{#is @key '!=' 'xs'}}{{@key}}-{{/is}}{{this}}{{/each}}{{/if}}{{/if}}">
      <div class="card">
        <div class="card-header{{#if header}} text-{{#if text}}{{text}}{{else}}white{{/if}} bg-{{header}}{{/if}}{{#if icon}} d-flex justify-content-between align-items-center{{/if}}"><h5 class="card-title mb-0">{{name}}</h5>{{#if icon}}<i class="material-icons mr-1 d-block o-25">{{icon}}</i>{{/if}}</div>
        <div class="card-body{{#if details}} pt-2{{/if}} pb-3 px-3" data-droppable="true" data-status="{{value}}" data-display-editable="true" data-display-simple="true"{{#if forward}} data-display-forward="{{forward}}"{{/if}}{{#if backward}} data-display-backward="{{backward}}"{{/if}}{{#if wide}} data-display-wide="{{wide}}"{{/if}}>
          {{#if details}}{{{details}}}{{/if}}
          <hr class="{{#if details}}mt-1 mt-xl-2{{else}}mt-0{{/if}} mb-0 divider" data-divider="true">
          {{#if items}}{{#each items}}{{> item editable=true simple=true wide=../wide forward=../forward backward=../backward}}{{/each}}{{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{#if action}}{{> action id=id action=action}}{{/if}}
