<div id="query_{{group}}_{{field}}" class="queryable-block rounded p-1 mb-1" data-group="{{group}}" data-field="{{field}}">
  {{{ content }}}
  <a class="p-2 o-50 queryable-trigger" href="#query.report.{{encode group}}.{{encode field}}" data-toggle="hover" data-targets="#query_{{group}}_{{field}}" data-value="bg-light">
    <i class="material-icons" data-toggle="tooltip" data-html="true" title="Send a <strong>Query to Owner / Respondant</strong> about this report part">contact_support</i>
  </a>
</div>
