{{#> dialog action=(either action "Continue") class="modal-xl" tabindex=1}}
<form>
  {{#if changes}}<fieldset id="{{concat id '_CHANGES'}}" name="changes">
    <ul class="list-group" data-output-field="Changes">
      {{#each changes}}
      <li id="{{concat ../id '_CHANGES_HOLDER_' @index}}" class="list-group-item bg-danger-lighter" data-output-name="Changes_{{@index}}">
        <div class="material-switch-label">{{> change}}</div>
        <div class="float-right">
          <input id="{{concat ../id '_CHANGES_' @index}}" name="Changes_{{@index}}" data-output-name="Value" hidden="hidden" type="checkbox"
                 data-for="#{{concat ../id '_CHANGES_HOLDER_' @index}}" data-on="bg-success-lighter" data-off="bg-danger-lighter">
          <label class="material-switch" for="{{concat ../id '_CHANGES_' @index}}"></label>
        </div>
      </li>
      {{/each}}
    </ul>
  </fieldset>{{/if}}
</form>
{{/dialog}}
