<div id="{{id}}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal_options_title">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_options_title">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#if content}}{{{content}}}{{/if}}
        <div class="results container">
          {{#each results}}
          <div style="display: none;" class="result {{@key}}">
            <div class="row align-items-center">
              <div class="col-md-6 col-lg-3 col-xl-2">
                <svg version="1.1" viewBox="0.0 0.0 40.0 40.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="result-container" d="m3.7322834 9.154964l0 0c0 -2.994864 2.427817 -5.422681 5.422681 -5.422681l21.690071 0l0 0c1.4381828 0 2.817463 0.5713165 3.8344154 1.5882666c1.0169487 1.0169497 1.5882645 2.3962297 1.5882645 3.8344145l0 21.690071c0 2.9948654 -2.4278145 5.42268 -5.42268 5.42268l-21.690071 0c-2.994864 0 -5.422681 -2.4278145 -5.422681 -5.42268z" fill-rule="evenodd"></path>
                  {{#each paths}}<path class="result-result" d="{{this}}" fill-rule="evenodd"></path>{{/each}}
                </svg>
              </div>
              <div class="col details">
                {{#if content}}{{{content}}}{{/if}}
              </div>
            </div>
            {{#exists form}}<div class="row">
              <form class="form col-12">
                <div class="form-group">
                  <label class="col-form-label text-weight-bold" for="{{../id}}_{{form.id}}_SELECTOR">{{form.question}}</label>
                  <select id="{{../id}}_{{form.id}}_SELECTOR" class="custom-select" name="Type">
                    {{#each form.options}}<option value="{{#if value}}{{value}}{{else}}{{this}}{{/if}}">{{#if name}}{{name}}{{else}}{{this}}{{/if}}</option>{{/each}}
			            </select>
                </div>
                <div class="form-group">
                  <div class="input-group">
										{{> control_icon icon="keyboard" }}
                    <textarea id="{{../id}}_{{form.id}}_DETAILS" name="Details" class="form-control resizable" rows="2" aria-describedby="{{../id}}_{{form.id}}_DETAILS_HELP" maxlength="{{form.length}}"></textarea>
                  </div>
                  <div id="{{../id}}_{{form.id}}_DETAILS_HELP" class="form-text text-muted text-right">{{form.details}}</div>
                </div>
              </form>
            </div>{{/exists}}
          </div>
          {{/each}}
        </div>
        <div class="d-flex flex-column align-items-center"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-outline-secondary btn-flat waves-effect" data-dismiss="modal">Close</button>
        <button type="button" style="display: none;" class="btn btn-primary waves-effect" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
