  <div class="question w-100 bg-warning rounded rounded-lg px-2 py-1 mt-1 collapse show" data-id="{{id}}">
    <div class="d-flex justify-content-between align-items-center pb-1">
      <p class="mb-0 select-none">This question was asked by <strong class="text-body"{{#if email}} data-toggle="tooltip" title="{{email}}"{{/if}}>{{#is who "===" true}}you{{else}}{{who}}{{/is}}</strong></p>
      <p class="small mb-0 p-1 select-none" data-toggle="tooltip" data-html="true" title="<strong>Question Created</strong><br />{{localeDate created}}">{{when}}</p>
    </div>
    <div class="bg-light rounded rounded-lg d-flex justify-content-between align-items-center mb-1 py-1">
      <p class="content-value small mb-0 p-1">{{question}}</p>
      {{#if (any reply resolve)}}<div class="d-flex flex-row">
        {{#if reply}}{{> control_button b_class="btn-dark btn-sm mx-1" b_small=true
          b_tooltip="<strong>Respond</strong> to this Question" b_html=true b_icon="insert_comment"
          b_icon_type="light" b_command=(concat "query.reply." (encode about.group) "." (encode about.field) "." (encode id))}}{{/if}}
        {{#if resolve}}{{> control_button b_class="btn-success o-75 btn-sm mx-1" b_small=true
          b_tooltip="Mark this Question as <strong>Resolved</strong>" b_html=true b_icon="done_outline"
          b_icon_type="light" b_command=(concat "query.resolve." (encode about.group) "." (encode about.field) "." (encode id))}}{{/if}}  
      </div>{{/if}}
    </div>
    {{#present replies}}{{>replies_holder }}{{/present}}
  </div>
