
{{!-- ================= DISPLAY PARAMETERS ================== --}}
{{!-- template = Template Name --}}
{{!-- id = Control ID --}}
{{!-- [large] = Size of Form Element Group --}}
{{!-- [title] = Form Element Title (used for label, field is used as fallback) --}}
{{!-- [readonly] = Input is disabled / readonly --}}
{{!-- [icon] = Icon for left-side of Element Group --}}
{{!-- [details] = This text will be the details textbox placeholder) --}}
{{!-- [options] = Collection of selection options for each item. Can be strings, or by value/name pairs. If name/value pairs are used, value is used for selected display and return object, but name is displayed in the dropdown list. --}}
{{!-- [type] = Name of Item type, for visual display (e.g. 'Add |Target| to List). Defaults to Item. --}}
{{!-- [list_field] = Field Name for list (e.g. Targets) --}}
{{!-- [help] = Help information (html) to display --}}
{{!-- [description] = Template Description --}}

{{!-- ================= OUTPUT PARAMETERS =================== --}}
{{!-- [field] = Form Element Group Data Field Name --}}
{{!-- [order] = Data Output Order --}}
{{!-- ======================================================= --}}

{{!-- =================== OUTPUT FORMAT ===================== --}}
{{!-- Value = false : If nothing has been added --}}
{{!-- ------------------------------------------------------- --}}
{{!-- Order = field order if supplied --}}
{{!-- Details = text from details box (not present if no text) --}}
{{!-- [List].Items = Array of Icon, Type and Value (value determined by action) --}}
{{!-- ======================================================= --}}

{{#> field_general}}
  <input id="{{id}}" name="{{id}}_VALUE" data-output-name="Value" hidden="hidden" type="checkbox">
	<div id="{{concat id '_FILES'}}" data-id="{{concat id '_FILES'}}" data-template="field_items"
     class="list-holder evidence-holder mt-1 mt-md-2"
     {{#if field}}data-field="{{field}}"{{/if}}
     {{#if order}} data-order="{{order}}"{{/if}}>
  	{{> field_items id=(concat id "_FILES") details=items_details
    		controls=id type=type list=list_field }}
	</div>
{{/field_general}}
